# CircleCI Firebase Deployment Config
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/build
    steps:
      - checkout
      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json
            - v1-npm-deps-{{ checksum "gatsby/package-lock.json" }}
            # Fallback cache to be used
            - v1-npm-deps-
      - run:
          name: Install Dependencies
          command: |
            cd  ~/build/gatsby
            npm install
      - save_cache:
          key: v1-npm-deps-{{ checksum "gatsby/package-lock.json" }}
          paths:
            - gatsby/node_modules
      - run:
          name: Gatsby Build
          command: |
            cd  ~/build/gatsby
            npm run build
      - persist_to_workspace:
          root: .
          paths:
            - ./

  deploy:
    docker:
      - image: circleci/node:10
    working_directory: ~/build
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Firebase Deploy
          command: ~/build/gatsby/node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN"

workflows:
  version: 2
  build-test-preview-and-deploy:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: master
          requires:
            - build
